<%- include('header') -%>

<div class="container">
  <div class="sign-element">
    <h1 class="items">Undirskriftalisti</h1>
  </div>
  <form class="items" method="post" action="/">
    <div class="form<%= locals.isInvalid('name', errors) ?  ' form--invalid' : '' %>">
      <label for="name">Nafn</label>
      <input class="text" type="text" name="name" id="name" value="<% name %>" class="">
    </div>
    <div class="form<%= locals.isInvalid('nationalId', errors) ?  ' form--invalid' : '' %>">
      <label for="nationalId">Kennitala</label>
      <input class="text" type="text" name="nationalId" id="nationalId" value="<% nationalId %>" class="">
    </div>
    <div class="form<%= locals.isInvalid('comment', errors) ?  ' form--invalid' : '' %>">
      <label for="comment">Athugasemd:</label>
      <textarea name="comment" value="<% comment %>"></textarea>
    </div>
      <label class="sign-element"><input class="checkbox" type="checkbox" name="anonymous" value="true">Ekki birta nafn á lista</label>

    <% if (errors.length > 0) { %>
      <div class="sign-element">
        <h2>Vandræði við undirskrift:</h2>
      </div>
        <ul class="errors">
          <% errors.forEach((error) => { %>
            <div class="sign-element">
            <li class="error"><label for="<%= error.param %>"><%= error.msg %></label></li>

            </div>
          <% }); %>
        </ul>
      
    <% } %>
    <div class="sign-element">
      <button>Skrifa undir</button>
    </div>
  </form>
</div>
<hr>
<div class="container">

  <div class="items">
    <% if(signatures.length === 0) { %>
        <div class="">
          <p class="">Engar undirskriftir</p>
        </div>
      <% } else { %>
      <table class="">
        <tr class="">
          <td class=""><strong>Dags</strong></td>
          <td class=""><strong>Nafn</strong></td>
          <td class=""><strong>Athugasemd</strong></td>
        </tr>
        <% signatures.forEach((sign) => { %>
            <tr class="">
              <td class=""><%= new Date(sign.signed).toLocaleString().split(',')[0] %></td>
              <td class=""><%= sign.anonymous ? '' : sign.name %></td>
              <td class=""><%= sign.comment %></td>
            </tr>
        <% }); %>
      </table>
    <% } %>
  </div>
</div>

<%- include('footer') -%>