<%- include('header') -%>

<div class="container">
  <div class="sign-element">
    <h1 class="items">Undirskriftalisti</h1>
  </div>
  <form class="items" method="post" action="/">
    <div class="form<%= locals.isInvalid('name', errors) ?  ' form--invalid' : '' %>">
      <label for="name">Nafn*</label>
      <input class="text" type="text" name="name" id="name" value="<% name %>" class="">
    </div>
    <div class="form<%= locals.isInvalid('nationalId', errors) ?  ' form--invalid' : '' %>">
      <label for="nationalId">Kennitala*</label>
      <input class="text" type="text" name="nationalId" id="nationalId" value="<% nationalId %>" class="">
    </div>
    <div class="form<%= locals.isInvalid('comment', errors) ?  ' form--invalid' : '' %>">
      <label for="comment">Athugasemd:</label>
      <textarea name="comment" value="<% comment %>"></textarea>
    </div>
      <label class="sign-element"><input class="checkbox" type="checkbox" name="anonymous" value="true">Ekki birta nafn á lista</label>

    <% if (errors.length > 0) { %>
      <div class="sign-element">
        <h3>Vandræði við undirskrift:</h3>
      </div>
        <ul class="errors">
        <% errors.forEach((error) => { %>
          <div class="sign-element">
            <li class="error"><label for="<%= error.param %>"><%= error.msg %></label></li>
          </div>
        <% }); %>
      </ul>
    <% } %>
    <div class="sign-element">
      <button>Skrifa undir</button>
    </div>
  </form>
</div>
<hr>
<div class="container">

  <div class="items">
    <% if(signatures.length === 0) { %>
      <div class="sign-element">
        <p class="">Engar undirskriftir</p>
      </div>
    <% } else { %>
      <div class="sign-element">
        <h2>Undirskriftir</h2>
      </div>
      <table>
        <tr>
          <td><strong>Dags</strong></td>
          <td><strong>Nafn</strong></td>
          <td><strong>Athugasemd</strong></td>
        </tr>
        <% signatures.forEach((sign) => { %>
            <tr>
              <td><%= new Date(sign.signed).toLocaleString().split(',')[0] %></td>
              <td><%= sign.anonymous ? '' : sign.name %></td>
              <td><%= sign.comment %></td>
            </tr>
        <% }); %>
      </table>
    <% } %>
  </div>
</div>

<%- include('footer') -%>